@import "../../global.scss";

.projects {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .project__items {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        .project__item {
            margin: 1em 0;
            @media (min-width: $tablet) {
                max-width: 60%;
            }
            padding: 1em;
            background-color: rgba(black, 0.7);
            border-radius: 7px;
        }
    }

    .projects__link {
        margin-top: 1rem;
        text-decoration: none;
        color: $mainColor;
        .projects__Link {
            display: flex;
            justify-content: center;
            align-items: center;
            text-decoration: none;
        }
        .projects__Link--item + .projects__Link--item {
            margin-left: 5px;
        }

        &:hover {
            color: $click-active-light;
        }

        &:active {
            color: $click-active-dark;
        }
    }
}

.project__body {
    padding: 1.5em 0em;
}
