@import "../../../global.scss";

.intro {
    background-color: lightseagreen;
    .right {
        .hamburger {
            display: block;
            position: relative;
        }
        .hamburger,
        .hamburger::before,
        .hamburger::after {
            background: $mainColor;
            width: 3em;
            height: 3px;
            border-radius: 1em;
            transition: transform 250ms ease-in-out;
        }
        .hamburger::before,
        .hamburger::after {
            content: "";
            position: absolute;
            left: 0;
            right: 0;
        }

        .hamburger::before {
            top: 6px;
        }

        .hamburger::after {
            bottom: 6px;
        }
    }
}