@import "../../../global.scss";

.section__intro {
    background-color: $secondaryColor;
    display: flex;
    flex-direction: column;
    height: 100%;
    .left {
        flex: 6;
        display: flex;
        align-items: center;
        justify-content: center;
        overflow: hidden;
        .left__wrapper {
            display: flex;
            justify-content: center;
            padding: 1em 0;
            width: 100%;
            .left__img {
                border-radius: 50%;
                max-width: 300px;
                padding: 0 1em;

                @media (min-width: $tablet) {
                    max-width: 100%;

                    border-radius: 0%;
                    border-top-left-radius: 50%;
                    border-bottom-left-radius: 50%;
                    border-top-right-radius: 50%;
                }
            }
        }

        @media (min-width: $tablet) {
            flex: 5;
        }
    }
    .right {
        color: $mainColor;
        flex: 6;
        display: flex;
        flex-direction: column;
        align-items: center;
        position: relative;
        .right__wrapper {
            // height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: center;

            .right__wrapper--intro {
                font-size: 40px;
            }
            .right__wrapper--name {
                font-size: 55px;
            }
            .right__wrapper--title {
                font-size: 30px;
                .right__wrapper--title-animation {
                    font-size: inherit;
                    color: $mainColorSplitComp;
                }
            }
            .wrapper__link--container {
                width: 100%;
                display: flex;
                justify-content: center;
                .right__wrapper--link {
                    bottom: 0;
                    color: $mainColor;

                    &:hover {
                        color: $click-active-dark;
                    }

                    &:active {
                        color: $mainColor;
                    }

                    .wrapper--arrow {
                        left: 1.2em;
                    }
                }
            }

            @media (min-width: $tablet) {
                align-items: flex-start;
                justify-content: center;
            }
        }
        @media (min-width: $tablet) {
            padding-top: 20vh;
            align-items: flex-start;
            justify-content: center;
        }
    }

    @media (min-width: $tablet) {
        flex-direction: row;
    }
}
