@import "../../../global.scss";

.section__about-me {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    .section__title--services::after {
        content: "";
        display: block;
        width: 2em;
        height: 2px;
        // margin: 0.5em auto 0.25em;
        margin: 0.25em auto 0;
        background: $secondaryColor;
        opacity: 0.25;
    }

    .section-background-img {
        position: absolute;
        top: 0;
        bottom: 0;
        right: 0;
        left: 0;
        background-color: $mainColor;
        background-blend-mode: multiply;
        background-image: url(../../../assets/laptop-background.jpg);
        background-size: cover;
        filter: blur(2px);
        z-index: -1;
    }

    .services {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

        .service {
            h3 {
                font-size: 1.5rem;
                padding-bottom: 1em;
            }
            margin: 30px;
            padding: 1em;
            color: rgba($secondaryColor, 1);
            font-size: 1.2rem;
            background-color: rgba(black, 0.8);
            @media (min-width: $desktop) {
                margin: 5px;
                max-width: 500px;
                min-height: 350px;
            }
        }

        @media (min-width: $desktop) {
            flex-direction: row;
            align-items: flex-start;
            width: 80%;
        }
    }
    .wrapper--arrow {
        color: $secondaryColor;
    }
}
