@import "../../../global.scss";

.project__desc--body {
    height: 100%;
    padding-left: 0.5rem;
    .project__desc--container {
        @media (min-width: $tablet) {
            display: flex;
            margin: 0.5rem auto;
            align-items: flex-start;
            justify-content: space-evenly;
            width: 50%;
            text-align: center;
        }

        .desc__container--item {
            position: relative;
            .container__item {
                margin: 0.2rem 0;
                position: relative;
            }
            .desc__title {
                font-size: 1.25rem;
                padding: 1rem 0 0.25rem 0;
                position: relative;
                width: 100%;
                &:after {
                    content: "";
                    display: block;
                    background: $secondaryColor;
                    height: 2px;
                    width: 3rem;
                    margin: 0.25rem 0 0rem;
                }
            }
        }
    }


    .container--langs {
        bottom: 0;
        width: 100%;
        padding-bottom: 0.5rem;
        .project__lang {
            font-size: 2rem;
            margin: 0 1rem;

            &.project__lang--react {
                animation: flashing- + $clrReact 4s infinite;
                animation-delay: 1000ms;

            }
            &.project__lang--js {
                animation: flashing- + $clrJs 4s infinite;
                animation-delay: 1100ms;
            }
            &.project__lang--sass {
                animation: flashing- + $clrSass 4s infinite;
                animation-delay: 1200ms;
            }
            &.project__lang--html5 {
                animation: flashing- + $clrHtml5 4s infinite;
                animation-delay: 1300ms;
            }
        }
        @media (min-width: $tablet) {
            text-align: center;
        }
    }
}
