@import "../../../global.scss";
// @import "../main-portfolio/projects/projects.scss";

.project__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    // border-top-left-radius: 10px;
    // border-bottom-left-radius: 10px;
    // border-left: 3px solid $mainColor;
    // border-top: 3px solid $mainColor;
    // border-bottom: 3px solid $mainColor;

    background: $mainColorLite;
    position: absolute;
    top: 0;
    right: -100%;
    bottom: 20px;
    z-index: 2;
    transition: all 500ms ease;

    &.active {
        right: 0;
    }

    &.hovered {
        box-shadow: -5px 5px 15px -3px $mainColorLite;
        right: -98%;
        @media (min-width: $desktop) {
            right: -78%;
        }
    }

    .project__card,
    .project__overview {
        max-width: 80%;
        width: 100%;
    }

    .project__card {
        flex: 0 1 auto;
        margin: 1rem 1rem;
        max-height: 400px;

        @media (min-width: $tablet) {
            max-height: none;
        }
    }

    .project__overview {
        border-radius: 5px;
        flex: 1;
        position: relative;
        background-color: white;
        margin-bottom: 1rem;
    }

    @media (min-width: $desktop) {
        box-shadow: -8px 8px 5px -3px $mainColor;
        width: 80%;
        right: -80%;
    }
}

.project__body {
    padding: 1em 0em;
    background-color: $secondaryColor;
}
