@import "../../../global.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    background-image: linear-gradient(120deg, $mainColor 0%, $secondaryColor 100%);
    color: white;
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
  }
  header {
    font-size: 2rem;
  }
  
  header,
  form {
    min-height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
  }
  form input,
  form button {
    padding: 0.5rem;
    font-size: 2rem;
    border: none;
    background: $mainColorLite;
  }
  form button {
    color: $secondaryColor;
    background: $mainColor;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  form button:hover {
    background: $secondaryColor;
    color: white;
  }
  .todo__container {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .todo__list {
    min-width: 300px;
    list-style: none;
    margin-bottom: 1em;

    overflow: scroll;
    max-height: 250px;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
  }
  
  .todo {
    margin: 0.5rem;
    background: $mainColorLite;
    font-size: 1.5rem;
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: all 1s ease;
  }

  .filter-todo {
    padding: 1rem;
    background-color: $mainColorLite;
  }
  .todo li {
    flex: 1;
  }
  
  .btn--trash,
  .btn--complete {
    background: rgb(255, 56, 21);
    color: $secondaryColor;
    border: none;
    padding: 1rem;
    cursor: pointer;
    font-size: 1rem;
  }
  .btn--complete {
    background: rgb(11, 212, 162);
  }
  .todo__item {
    padding: 0rem 0.5rem;
  }
  
  .fa-trash,
  .fa-check {
    pointer-events: none;
  }
  
  .fall {
    transform: translateY(10rem) rotateZ(20deg);
    opacity: 0;
  }
  
  .completed {
    text-decoration: line-through;
    opacity: 0.5;
  }
  
  /*CUSTOM SELECTOR */
  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    outline: 0;
    box-shadow: none;
    border: 0 !important;
    background-image: none;
  }
  
  /* Custom Select */
  .select {
    margin-left: 1rem;
    position: relative;
    overflow: hidden;
  }
  select {
    color: $secondaryColor;
    font-family: "Poppins", sans-serif;
    cursor: pointer;
    width: 12rem;
  }
  /* Arrow */
  .select::after {
    content: "\25BC";
    position: absolute;
    top: 0;
    right: 0;
    padding: 1rem;
    background: $mainColor;
    cursor: pointer;
    pointer-events: none;
  }
  /* Transition */
  /*
  .select:hover::after {
    transform: scale(1.5);
  }
  */
  