@import "../../../global.scss";

.contact {
    display: flex;
    flex-direction: column;
    width: 100vw;
    .section__left {
        flex: 5;
        display: flex;
        align-items: center;
        justify-content: center;
        .img--container {
            border-radius: 50%;
            background-color: $secondaryColor;
            width: 70%;
            display: flex;
            align-items: center;
            justify-content: center;
            .left__item--img {
                max-width: 80%;
                height: auto;
            }

            &::after {
                content: "";
                display: block;
                padding-bottom: 100%;
            }
        }

        @media (min-width: $tablet) {
            padding: 1rem;
        }
    }
    .section__right {
        flex: 5;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        .section__form {
            height: 70%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            .right__item--title {
                text-align: center;
            }
            .right__item--form {
                height: 80%;
                display: flex;
                flex-direction: column;
                align-items: flex-start;
                justify-content: space-around;
                input {
                    width: 300px;
                    height: 30px;
                    font-size: 14px;
                }
                textarea {
                    width: 300px;
                    height: 200px;
                    font-size: 14px;
                    border: none;
                }
                .form--submit{
                    margin-left: 50%;
                    width: 40%;
                    transform:translateX(-50%);
                    font-size: 16px;
                    cursor: pointer;
                    font-weight: 500;

                    &:hover {
                        color: $mainColor;
                    }
                }
            }
        }
        .thank-you-msg {
            display: flex;
            height: 70%;
            align-items: center;
            justify-content: center;
            color: $mainColor;
            width: 100%;
            text-align: center;
        }
    }
}
