@import "./global.scss";

.app {
    .sections {
        overflow-x: hidden;
        width: 100%;
        height: calc(100vh - #{$navBarHeight});
        position: relative;
        // scrollbar functionality
        scroll-behavior: smooth;
        // scroll-snap-type: y mandatory;
        scrollbar-width: none; // firefox
        &::-webkit-scrollbar {
            display: none;
        }

        .section {
            min-height: calc(100vh - #{$navBarHeight});
            padding: 4em 2em;
            position: relative; 

            .section__title {
                padding-top: 0.5em;
            }
            
        }
    }

    .offsetNavBar {
        margin-top: $navBarHeight;
    }

    .wrapper__link--container {
        position: absolute;
        bottom: 0;
        margin: 0 auto;
        margin-bottom: 0.5em;
        width: calc(100% - 4em);
        text-align: center;
    }

    img {
        display: block;
        max-width: 100%;
    }
}

@media (min-width: $desktop) {
    .app {
        .sections {
            // top: $media800NavBarHeight;
        }
    }
}
